* {
    scroll-behavior: smooth;
}

/* SPLASH SCRN */
#splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    font-family: myFont;
    color: #f165a2;
    background-color: rgb(0, 11, 69); 
    mix-blend-mode: luminosity;
}

#splash.hide {
    opacity: 0; visibility: hidden;
    transition: all 1s;
}


body{
    background-color: #050623;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFont ;
    src: url(font/DFVN\ West\ West\ Condensed\ copy.ttf);
} 


p {
    font-family: myFont; 
    font-size: 2.5vw;
    /* color: #f165a2 */;
    color: #de80d7;
}

/* COVER */

.cover {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -10;
    
}

/* @media (min-aspect-ratio:16/9) {
    .cover {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .cover {
        width: auto;
        height: 100%;
    }
} */

.contentbox {
    position: relative;
    top: 100px;
}

/* S1 & S2 */
.parallax {
    display: grid;
    grid-template-areas: "stack";
    position: relative;
    top: 860px;
}

.parallax > * {
    grid-area: stack;
}

#sky {
    width: 100%;
    height: auto;
    z-index: -5;
}

#cloudL {
    width: 50%;
    height: auto;
    position: absolute;
    transform: translateY(-200px);
    transform: translateX(-280px);
    z-index: -3;
}

#cloudR {
    width: 50%;
    height: auto;
    position: absolute;
    right:0;
    transform: translateY(-200px);
    transform: translateX(340px);
    z-index: -3;
}

#mountain {
    width: 100%;
    height: auto;
    position: absolute;
    transform: translateY(100px);
    z-index: -2;
}

#cloudfront {
    width: 80%;
    height: auto;
    position: absolute;
    top: 500px;
    justify-self: center;
}

#foreground {
    width: 100%;
    height: auto;
    position: absolute;
    transform: translateY(150px);
    z-index: 0;
    
}

#lilyglow {
    width: 100%;
    height: auto;
    position: absolute;
    transform: translateY(90px);
    mix-blend-mode: saturation;
    
}

#angel {
    width: 18%;
    height: auto;
    justify-self: center;
    position: absolute;
    transform: translateY(0px);
    transform: translateX(-10px);
    z-index: -1;

}

.text1 {
    margin-right:  auto;
    margin-left: auto;
    position: relative;
    /* top:  250px; */
    transform: translateY(10%);
    z-index: -4;
}

#bg2 {
    width: 100%;
    height: auto;
    position: absolute;
    transform: translateY(450px); 
    z-index: -6;
}

#bg2vid {
    width: 80%;
    justify-self: center;
    position: absolute;
    transform: translateY(1100px);
    z-index: -1;
    mix-blend-mode:lighten;
    z-index: -5;
}

.text2 {
    margin-right:  auto;
    margin-left: auto;
    position: relative;
    top: 1900px;
    z-index: 6;
}

/* S3 */

.s3 {
    display: grid;
    grid-template-areas: "stack";
    position: relative;
    top: 3400px;
    
}

.s3 > * {
    grid-area: stack;
}


#bg3 {
    width: 100%;
    height: auto;
    position: relative;
    /* top: 470px; */
    z-index: 1;
}

.land {
    width: 58vw;
    position: absolute;
    bottom: 0;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
   
    z-index: 3;
}

#bg3ele {
    width: 65%;
    position: relative;
    justify-self: center;
    z-index: 2;

    animation: rotate 6s infinite linear;
}

#eyeanimate {
    width: 40%;
    position: relative;
    top: 36%;
    left: 10px;
    justify-self: center;
    z-index: 3;

    transition: 0.1s;
}

#eyeanimate:hover {
    filter: hue-rotate(120deg) brightness(200%) saturate(200%);
}

@keyframes rotate {
    from {}
    to{transform: rotate(360deg)}
}

.text3 {
    margin-bottom: 0;
    padding: 0;
    z-index: 4;
}

#t3_line1 {
    font-size: 4.3vw;
    position: absolute;
    top: 14%;
    left: 50px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    mix-blend-mode:color-burn;
}

#t3_line2 {
    font-size: 4.3vw;
    position: absolute;
    top: 14%;
    right: 50px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    mix-blend-mode:color-burn;
}

#t3_line3 {
    position: absolute;
    bottom: 8%;
    justify-self: center;
    mix-blend-mode: lighten;
}

/* S4 & 5*/

.hide {
    display: none;
}

.onclick {
    position: absolute;
    /* bottom: 10px; */
    top:0 ;
    margin: 0;
    height: 100%;

}

#s45video {
    margin: 0;
    width: 101%;
    position: relative;
    right: 1px;
    
    justify-items: center ;
    z-index: 3;

    
}

.s45box {
    display: grid;
    grid-template-areas: "stack";
}

.s45box > * {
    grid-area: stack;
}

.s5eyes {
    width: 101%;
    z-index: 4;
    position: relative;
}

.s5pttrn {
    width:101%;
    z-index: 4;
}

.fontbig {
    font-size: 3vw;
}

.text5 {
    position: relative;
    top: 50%;
    left: 15vw ;
    z-index: 7;
    transition: 0.3s ease;
}

#t5_line1 {
    position: relative;
    left: 30vw;
}

#t5_line1:hover {
    transform: translateX(9vw);
}

#t5_line2 {
    position: relative;
    left: 30vw;
    margin-top: 6.6%;
}

#t5_line2:hover {
    transform: translateX(-9vw);
}

#t5_line3 {
    position: relative;
    margin-top: 17%;

}

#t5_line3:hover {
    transform: translateX(5vw);  
}

#t5_line4 {
    position: relative;
    margin-top: 20.6%;
    left: 80vw;
}

#t5_line4:hover {
    transform: translateX(-15vw);  
}



/* S6 & 7 */
.s67 {
    position: relative;
   z-index: 1;
}


.s6box {
    display: grid;
    grid-template-areas: "stack";
}

.s6box > * {
    grid-area: stack; 
}

.s6 {
    width: 100%;
    height: auto;

    position: relative;
    z-index: -4;
}

.parallax6 {
    display : grid;
    grid-template-areas: "stack";
    position: relative;
}

.parallax6 >* {
    grid-area: stack;
}

#s6sky {
    width: 100%;
    z-index: 0;
}

#moon {
    height: fit-content;
    width: fit-content;

    display : grid;
    grid-template-areas: "stack";

    position: absolute;
    transform: translateY(-340%) translateX(43vw); 
    z-index: 6;

    mix-blend-mode: lighten;

}

#moon > * {
    grid-area: stack;
}

#s6moonlit {
    width: 50%;
    z-index: 2;
}

#s6moon {
     width: 5%;
    position: relative;
    top: 46.5%;
    left: 23.5%; 
    z-index: 6;
}

#s6tree {
    width: 100%;
    z-index: 100;
    position: relative;
    transform: translateY(-75%);
    z-index: 3;
} 

#s6foreground {
    width: 100%;
    position: absolute;
    bottom: -5%;
    z-index: 4;
}

#s6frame {
    width: 100%;
    mix-blend-mode: difference;
    z-index: 5;
    position: relative;
}

.sunsetbox {
    width: 1000px ;
    height: 45% ;
    scale: 70%; 
    position: relative;
    margin-left: auto;
    margin-right: auto ;
    bottom: 8%;

    z-index: 6;
}

.s6sunset {
  position: sticky;
  top: 20vh;
} 

.text6 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 54px;
    
}

.text6_2 {
    position: relative;
    top: 53%; 
    left: 44vw; 
    z-index: 7;
}

#s6star {
    width: 50px;
    position: relative;
    transform: translateY(-85%);
    left: 54vw;
    height: 30%;

    z-index: 7;
}

.star {
    animation: blinking 2s ease-out infinite;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px rgb(245, 255, 139) );
    z-index: 7;
}

.blinking--delay {
    animation-delay: 0.5s;
}

.blinking--fast {
    animation-duration: 1.3s;
}

.blinking--slow {
    animation-duration: 3s;
}

.blinking--reverse {
    animation-direction: reverse ;
}

@keyframes blinking {
    0% {
        transform: rotate(-20deg);
    }

    25% {
        transform: scale(140%);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: scale(120%);
    }

    100% {
        transform: rotate(-20deg);
    }
}

.star:hover {
    scale: 150%;
    filter: hue-rotate(300deg) saturate(10) drop-shadow(0px 0px 10px rgb(245, 255, 139) );
}

#star1 {
    width: 40px;
    position: relative;
}

#star2 {
    width: 60px;
    position: relative;
    left: 50px;
}

#star3 {
    width: 50px;
    position: relative;
    top: 200px;
}

#star4 {
    width: 30px;
    position: relative;
    left: 100px;
    top: 100px;
}

#star5 {
    width: 35px;
    position: relative;
    right: 100px;
    bottom: 50px;
}

#star6 {
    width: 20px;
    position: relative;
    right: 170px;
    top: 50px;
}

#star7{
    width: 25px;
    position: relative;
    right: -50px;
    top: 110px;
}

#star8 {
    width: 20px;
    position: relative;
    right: 250px;
    top: -250px;
}

#star9 {
    width: 15px;
    position: relative;
    right: -90px;
    top: 210px;
}

.s67lily {
    width: 55%;
    position: relative;
    left: 40vw;
    top: 70% ;   
    z-index: 7;
}

.s7box {
    background-color: #000110; 

    position: relative;
    top: 20%; 
    
    z-index: -5;

    display: grid;
    grid-template-areas: "stack";
}

.s7box > * {
    grid-area: stack;
}

.text7 {
    z-index: 100;
    position: relative;
    top: 15%;
    margin-left: 10vw;
    margin-right: 10vw;
}

#t7_2 {
    text-align:  right;
    position: relative;
    top: 60%;
}


.s7video {
    width: 100%;
}

/* S8  */
.s8box {
    position: relative;
    /* top: 1040px; */
    display: grid;
    grid-template-areas: "stack";
}

.s8box > * {
    grid-area: stack;
}

.s8 {
    width: 100%;
}

.cursor {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient( circle at var(--x) var(--y), transparent 10%, rgb(2, 0, 18) 25%);
}

.text8 {
    z-index: 100;
    margin-right: auto;
    margin-left: auto;
    margin-top: 230px;
    text-align: center;
}

.text8_2 {
    z-index: 0;
    margin-top: 650px;
}

#t8_1_1 {
    position: relative;
    right: 50px;
}

#t8_1_2 {
    position: relative;
    top: 55px;
    left: 50px;
}

#t8_1 {
    margin-left: 150px;
}

#t8_2 {
    margin-right: 150px;
    text-align: right;
}

/* S9 & 10 */

.S9_11Box {

    height:  870% ;
    position: relative;
}

.S9_11Content {
    position: sticky;
    top: -32vw ;
    margin-bottom: -17%;
}

.s9_10 {
    position: relative;
    display: grid;
    grid-template-areas: "stack";
}

.s9_10 > * {
    grid-area: stack;
}  

.text10 {
    font-size: 2.4vw ;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 74.5%;
}

.s9bg {
    width: 100vw;
    height: auto; 
    position: relative;
    z-index: 0;
}

.s9hill {
    width: 100%;
    position: relative;
    top: 24%;
    z-index: 1;
}

.s9skybox {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0; 
    z-index: -1;
}

.s9sky {
    width: 100%;
    position: sticky;
    top: -50vh;
}

.s9maskRbox {
    height: 41%;
    width: 45%;
    position: absolute;
    top: 15%; 
    left: 40vw;
    z-index: 0 ;
}

.s9maskR {
    width: 100%;
    position: sticky;
    top: -13.2vw; 
}

.s9maskLbox {
    height: 27.9% ;
    width: 17%;
    position: absolute;
    top: 30%; 
    left: 22vw;
    z-index: 1 ;
}

.s9maskL {
    width: 100%;
    position: sticky;
    top: 23vw;
}

.text9 {
    z-index: 10;
    position: absolute;
    top: 40%;
    right: 10vw;
    text-align: right;
}

.s10mothAll {
    position: absolute;
    z-index: 1;
    bottom: 6.5%;
    width: 100%;
}


#s10moth {
    z-index: 3;
    transition: 0.5s;
}

#s10moth:hover {
    opacity: 0;
}

#s10mothbg {
    z-index: 1;    
}

.s10faceBox {
    width: 100vw;
    height: 66.3%;
    position: relative;
    z-index: 2;
    top: 62.8%;
}

.s10face { 
    width: 100%;
   position: sticky;
   top: -13vh;
   filter: drop-shadow( 0 0 20px rgba(0, 0, 0, 0.388));
}

/* S11 */
.s11 {
    position: relative;
    bottom: 20vh;
}

.s11box {
    display: grid;
    grid-template-areas: "stack";
}

.s11box > * {
    grid-area: stack;
} 

.text11box {
    height: 300px;
    background-image: linear-gradient(to bottom,  #000c51 , rgb(0, 12, 81) )
}

.text11{
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    text-align: center;
}

.text11_2{
   position: relative;
   top: 75%;
}

#t11_2_1 {
    margin-left: 100px; 
}

#t11_2_2 {
    margin-right: 100px;
    text-align: right;
}

.s11video {
    width: 100%;
}

.end {
    font-size: 1.7vw;
    position: relative;
    top: 87%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* COLORS */
.pink{
    color: #de80d7;
}

.babypink {
    color: rgb(255, 184, 211);
}

.hotpink {
    color: #f165a2;
}

.red {
    color: red;
}

.darkred {
    color: rgb(169, 0, 0);
}

.paleblue {
    color: #2CA1CD;
}

.lightblue {
    color: #89d3ee;
}

.blue {
    color: #0050FF;
}

.semidarkblue {
    color: #011692;
}

.darkblue {
    color: #000b49;
}

.yellow {
    color: #f09000;
}

/* REVEAL */
.reveal {
    position: relative;
    opacity: 0;
    transition: all 3s ease 0.5s ;
}

.reveal.active {
   opacity: 1;
}

/* REVEAL VANILLA */
.hidden {
   opacity: 0;
   transition:  1s ease-out;
   transform: translateY(50%);
}

.show {
   opacity: 1;
   transform: translateY(0);
}
